# An empty workspace table keeps the base crate away from nesting in other
# workspaces.
[workspace]

[package]
name = "#NAME#"
version = "#VERSION#"
edition = "2024"

[patch.crates-io]
ostd = { git = "https://github.com/KMiri-rs/asterinas.git", branch = "kmiri" }
